@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.auth-card {
		@apply min-w-[370px] w-full sm:w-[390px] lg:w-[460px] p-[50px];
	}
}

/* REGULAR */
@font-face {
	font-family: 'TitilliumWeb-Regular';
	src: url('/public/assets/fonts/TitilliumWeb-Regular.ttf') format('ttf');
}

/* LIGHT */
@font-face {
	font-family: 'TitilliumWeb-Light';
	src: url('/public/assets/fonts/TitilliumWeb-Light.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-ExtraLight';
	src: url('/public/assets/fonts/TitilliumWeb-ExtraLight.ttf') format('ttf')
}

/* BOLD */
@font-face {
	font-family: 'TitilliumWeb-Bold';
	src: url('/public/assets/fonts/TitilliumWeb-Bold.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-SemiBold';
	src: url('/public/assets/fonts/TitilliumWeb-SemiBold.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-Black';
	src: url('/public/assets/fonts/TitilliumWeb-Black.ttf') format('ttf')
}

/* ITALIC */
@font-face {
	font-family: 'TitilliumWeb-Italic';
	src: url('/public/assets/fonts/TitilliumWeb-Italic.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-LightItalic';
	src: url('/public/assets/fonts/TitilliumWeb-LightItalic.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-ExtraLightItalic';
	src: url('/public/assets/fonts/TitilliumWeb-ExtraLightItalic.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-BoldItalic';
	src: url('/public/assets/fonts/TitilliumWeb-BoldItalic.ttf') format('ttf')
}

@font-face {
	font-family: 'TitilliumWeb-SemiBoldItalic';
	src: url('/public/assets/fonts/TitilliumWeb-SemiBoldItalic.ttf') format('ttf')
}

.font-titillium {
	font-family: 'TitilliumWeb-Regular', sans-serif;
}